* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos para el body */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
  color: #333;
}

/* Títulos */
h1,
h2 {
  color: #b30000;
  margin-bottom: 10px;
}

/* Estilo del formulario */
form {
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
}

form label {
  display: block;
  margin-top: 10px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
}

form button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #b30000;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Estilos para la lista de productos */
#lista .producto {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#lista .producto button {
  background: #b30000;
  border: none;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}